.g-main {
  width: 100%;
  background: #e6e6e6;
}

.clearfix {
  &:after, &:before {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.m-main-chy {
  margin: 0 auto;
  width: 1170px;
  @media (max-width: 1190px) {
    width: 100%;
  }

  .header {
    .head_show {
      font-size: 0;
      position: relative;
      padding: 0 20px;
      height: 114px;
      background: #fff;
      .title {
        display: inline-block;
        color: #3b1d30l;
        font-size: 18px;
        height: 114px;
        line-height: 114px;
      }
      .logo {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -39px;
        .rgi {
          width: 78px;
          img {
            width: 100%;
          }

        }
        h2 {
          margin-top: 10px;
          width: 78px;
          img {
            width: 100%;
          }
        }
      }
      .link {
        display: none;
        position: absolute;
        right: 14%;
        bottom: 50px;
        font-size: 14px;
        a {
          display: inline-block;
          padding: 0 18px;
          color: #2c171a;
          font-size: 14px;
        }
        .f-link {
          border-right: 1px solid #2c171a;

        }
      }
      .radio {
        position: absolute;
        right: 20px;
        bottom: 40px;
        text-indent: -9999px;
        width: 106px;
        height: 40px;
        cursor: pointer;
        background: url(../images/rgiradio.png) 2px 0 no-repeat;
      }
    }
    .list {
      display: none;
      padding-top: 122px;
      padding-bottom: 10px;
      background: url(../images/nav-bg.png) no-repeat;
      .tex {
        width: 66.7%;
        margin: 4px auto 0;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
      }
      .radio {
        display: block;
        margin: 18px auto 0;
        width: 30px;
        height: 30px;
        img {
          width: 100%;
        }
      }
    }
  }
  .aft-click {
    .head_show {
      .title {
        display: none;
      }
      .link {
        display: block;
      }
      .logo {
        h2 {
          display: none;
        }
      }
      .radio {
        background: url(../images/rgiradio.png) -102px 0 no-repeat;
      }
    }
    .list {
      display: block;
    }
  }
  .banner {
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }
  .mn_f {
    font-size: 0;
    .f_wrap1, .f_wrap2, .f_wrap3, .f_wrap5 {
      font-size: 0;
      .block {
        position: relative;
        cursor: pointer;
        font-size: 0;
        overflow: hidden;
        img {
          width: 100%;
        }
        .showPic1 {
          display: block;
          width: 100%;
          height: auto;
        }
        .showPic2 {
          display: none;
          width: 100%;
          height: auto;
        }
        .shade {
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          .bg {
            position: absolute;
            top: 100%;
            left: 0px;
            background: #ffde00;
            width: 100%;
            height: 100%;
          }
          .tex {
            position: absolute;
            top: 200%;
            left: 0px;
            vertical-align: middle;
            display: table;
            height: 100%;
            width: 100%;
            h3 {
              padding-left: 56px;
              vertical-align: middle;
              display: table-cell;
              font-size: 30px;
              color: #2c171a;
              em, span {
                display: block;
              }
              em {
                font-size: 40px;
                font-weight: bold
              }
              span {
                font-weight: normal;
                font-size: 40px;
              }
              .heng {
                margin: 12px 0;
                height: 1px;
                width: 20px;
                background: #2c171a;
              }
            }
          }
          .radio {
            display: none;
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -22px;
            width: 44px;
            height: 44px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .f_wrap1 {
      float: left;
      @media (max-width: 768px) {
        width: 100%;
      }
      width: 50%;
      .block_1 {
        width: 100%;
        float: left;
        img {
          width: 100%;
        }
        .shade {
          display: block;
        }
      }
    }
    .f_wrap2 {
      @media (max-width: 768px) {
        width: 100%;
      }
      float: right;
      width: 50%;
      .block_2, .block_8 {
        width: 50%;
        float: left;

      }
      .block_2 {
        .shade {
          .bg{background: #3399cc;}
          .tex {
            vertical-align: bottom;
            h3 {
              padding-bottom: 40px;
              vertical-align: bottom;
            }
          }
          .radio {
            left:56px;
            top: 60%;
          }
        }
      }
     .block_8{
       .shade{
         .bg{background: #339966;}
         .tex{ vertical-align: top;
           h3{ padding-top:40px;vertical-align: top;}
         }
         .radio{top:82%; left:56px;}
       }
     }
      .block_3, .block_6 {
        float: right;
        width: 50%;
      }
      .block_3{
        .shade{
          .bg{background: #cc6633;}
          .tex{
            h3{padding-left: 20px;}
          }
          .radio{left:20px; top:87%;}
        }
      }
      .block_6 {
        .shade{
          .bg{background: transparent;}
          .tex{vertical-align: bottom;
          h3{vertical-align: bottom;
            padding-bottom: 60px;
            color:#fff;
            .heng{background: #fff;}
          }}
          .radio{top:94%;
            left:56px;
          }
        }
      }
    }
    .f_wrap3 {
      width: 100%;
      .block_4, .block_7 {
        width: 50%;
        float: left;
      }
      .block_4{
        .shade{
          .bg{background: transparent;}
          .radio{top:86%; left:56px;}
        }

      }
      .block_7{
        .shade{
         .bg{background: #fff;}
          .radio{top:86%; left:56px;}
        }
      }
      .block_5 {
        width: 50%;
        float: right;
        .shade{
          .bg{background: transparent;}
          .tex{
            h3{vertical-align: bottom;
              padding-bottom: 21%;
              color:#fff;
              .heng{background: #fff;}
            }
          }
          .radio{top:94%; left:56px;}
        }
      }
    }

  }
  .middle {
    .yunj {
      position: relative;
      width: 100%;
      .block_9 {
        float: left;
        background: #8fcebc;
        width: 50%;
        .wrap {
          position: relative;
          width: 100%;
          .pic {
            width: 100%;
            z-index: 1000;
            display: inline-block;
            img {
              width: 100%;
            }
          }
          .message {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 9999;
            display: block;
            background: #8fcebc;
            width: 0;
            height: 100%;
            overflow: hidden;
            color: #17191d;
            -webkit-transition: all 1s ease-in;
            -moz-transition: all 3s;
            -ms-transition: all 3s;
            -o-transition: all 3s;
            transition: all 1s ease-in;
            /*  h1 {
                margin-top: 60px;
                font-size: 14px;
              }
              h2 {
                margin-top: 76px;
                font-size: 16px;
              }
              p {
                margin-top: 12px;
                font-size: 14px;
                line-height: 18px;
              }*/
          }
        }
        &:hover {
          .wrap .message {
            width: 100%;
          }
        }
      }
      .block_10 {
        position: relative;
        float: right;
        width: 50%;
        background: #0b0c2a;
        .wrap {
          position: relative;
          width: 100%;
          .pic {
            img {
              width: 100%;
            }
          }
          .message {
            display: block;
            z-index: 1;
            position: absolute;
            top: 0;
            left: -100%;
            overflow: hidden;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 3s;
            -ms-transition: all 3s;
            -o-transition: all 3s;
            transition: all 1s ease-out;
            background: #0b0c2a;
            width: 100%;
            height: 100%;
            color: #fff;
          }
        }
        &:hover {
          .wrap .message {
            width: 100%;
          }
        }
      }
    }
    .f_wrap5 {
      width: 100%;
      .LogoBlock {
        float: left;
        width: 16.666667%;
        img {
          width: 100%;
        }
        .showPic1 {
          display: block;
        }
        .showPic2 {
          display: none;
        }
      }
    }
    .move {
      width: 100%;
      img {
        width: 100%;
      }

    }
  }
  .footer {
    .left {
      width: 50%;
      height: 50%;
      position: relative;
      float: left;
      overflow: hidden;
      .pic-bg {
        width: 100%;
        img {
          -webkit-transition: all 100ms linear;
          -moz-transition: all 100ms linear;
          -o-transition: all 100ms linear;
          -ms-transition: all 100ms linear;
          transition: all 100ms linear;
          width: 100%;
          height: 100%;
        }
      }
      .bg {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        background: #2c171a;
        filter: alpha(opacity=90);
        opacity: 0.9;
      }
      .name {
        position: absolute;
        top: 23px;
        left: 23px;
        color: #fff;
        font-size: 22px;
        z-index: 9999;
      }
      .rel {
        position: absolute;
        left: 0;
        width: 80%;
        bottom: 0;
        background: #fff;
        h1 {
          padding-left: 20px;
          font-size: 30px;
          font-weight: normal;
          color: #2c171a;
        }
        .tel {
          padding-left: 20px;
          margin-top: 60px;
          color: #9c9c9c;
          font-size: 20px;
        }
        .web {
          padding-left: 20px;
          font-size: 20px;
          margin-top: 14px;
        }
      }
      &:hover {
        .bg {
          display: block;
        }

      }
    }

    .right {
      position: relative;
      float: right;
      width: 50%;
      overflow: hidden;
      .wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 34px 78px;
        font-weight: normal;
        color: #fff;
        background: #2c171a;
        h3 {
          font-size: 20px;
        }
        .name {
          margin-top: 18px;
          font-size: 20px;
        }
        .title, .zip, .fax {
          margin-top: 14px;
          display: block;
          font-size: 18px;
        }
        .title {
          margin-top: 100px;
          font-weight: normal;
        }
        .menu {
          li {
            float: left;
            margin-top: 16px;
            a {
              display: inline-block;
              color: #fff;
              width: 98px;
              font-size: 14px;
            }
          }
        }
      }
    }
    .link {
      width: 100%;
      display: table;
      a {
        display: table-cell;
        width: 1%;
        height: 40px;
        background: red;
      }
    }
    .copyright {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
}

#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
}

#jquery-lightbox a img {
  border: none;
}

#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

#lightbox-container-image {
  padding: 10px;
}

#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
  left: 0;
}

#lightbox-nav a {
  outline: none;
}

#lightbox-nav-btnPrev,
#lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom: 1;
  display: block;
}

#lightbox-nav-btnPrev {
  left: 0;
  float: left;
}

#lightbox-nav-btnNext {
  right: 0;
  float: right;
}

#lightbox-container-image-data-box {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 0 10px 0;
}

#lightbox-container-image-data {
  padding: 0 10px;
  color: #666;
}

#lightbox-container-image-data #lightbox-image-details {
  width: 70%;
  float: left;
  text-align: left;
}

#lightbox-image-details-caption {
  font-weight: bold;
}

#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  padding-bottom: 1.0em;
}

#lightbox-secNav-btnClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em;
}
